.root {
  padding: 10px;

  .box {
    background: #000000;
    color: #ffffff;
    padding: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);

    .header {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 10px;

      li {
        text-transform: uppercase;

        &:hover {
          color: #ff6400;
          cursor: pointer;
        }
      }
    }
  }
}
