.root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  &::before,
  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .gallery {
    float: left;
    width: 50%;
  }

  .info {
    float: left;
    width: 50%;
  }
}
